
<div class="card">
<%= render @friend %>
</div><br>
<div>
  <%= link_to "Редактировать", edit_friend_path(@friend),class: "btn btn-secondary" %>
  <%= link_to "Назад", friends_path, class: "btn btn-secondary" %>
</div>

<div></div>
